

.header1 {
    background-color: navy;
    color: orange;
    padding: 20px;
    display: flex;
    justify-content: center;
    }

.header1 .button_login {
    background-color:navy; 
    color: white;
    }

.header1 .button_home {
    background-color:navy; 
    color: white;
    order: -1; 
    margin-right: auto; 
    }

.header1 a {
    background-color: white;
    color: navy;
    border-radius: 7px; 
    border: 1px navy solid;
    padding: 7px;
    margin: 0px 10px;
    cursor: pointer;
    }

.header1 .button_login {
    background-color:navy; 
    color: white;
    }



header a:hover {
        text-decoration: none;
    }

.header1 .search-bar {
        display: flex;
        align-items: center;
        
    }

