{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="form-box">
        <h2>Create Request</h2>
        <form method="POST" action="{{ url_for('main.create_request') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div>
                {{ form.title.label }}<br>
                {{ form.title(size=32, class_='input-field') }}<br>
            </div>
            <div>
                {{ form.descr.label }}<br>
                {{ form.descr(size=32, class_='input-field') }}<br>
            </div>
            <div>
                {{ form.quantity.label }}<br>
                {{ form.quantity(class_='input-field') }}<br>
            </div>
            <div>
                {{ form.image.label }}<br>
                {{ form.image(class_='input-field') }}<br>
            </div>
            <div>
                {{ form.submit(class_='btn') }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
