{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<body>
    <div class="container">
        <div class="profile-box">
            <h1>Your Profile</h1>
            <p class="profile-detail"><strong>Username:</strong> {{ current_user.username }}</p>
            <p class="profile-detail"><strong>Email:</strong> {{ current_user.email }}</p>
        </div>
        <div class="btn-group">
            <a href="{{ url_for('main.edit_profile') }}" class="btn">Edit Profile</a>
            <a href="{{ url_for('main.change_password') }}" class="btn">Change Password</a>
        </div>
    </div>
</body>
{% endblock %}

