<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src=""></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a>Create Request</a></li>
                {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropbtn">My Account</button>
                    <div class="dropdown-content">
                        <a>Dashboard</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
      
</body>
</html>

