{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}

<!-- Main content for the Change Password page -->
<body>
    <div class="container">
        <div class="form-box">
            <h1>Change Password</h1>
            <!-- Form for changing the user's password -->
            <form method="POST">
                <!-- CSRF protection token -->
                {{ form.hidden_tag() }}
                <!-- Old password input field -->
                {{ form.old_password.label }} {{ form.old_password(size=32) }}<br>
                <!-- New password input field -->
                {{ form.new_password.label }} {{ form.new_password(size=32) }}<br>
                <!-- Confirm new password input field -->
                {{ form.confirm_password.label }} {{ form.confirm_password(size=32) }}<br>
                <!-- Submit button to update the password -->
                <input type="submit" class="btn" value="Update Password">
            </form>
        </div>
    </div>
</body>
{% endblock %}
