{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<body>
    <div class="container">
        <div class="form-box">
            <h1>Edit Profile</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.username.label }} {{ form.username(size=32) }}<br>
                {{ form.email.label }} {{ form.email(size=32) }}<br>
                <input type="submit" class="btn" value="Update Profile">
            </form>
        </div>
    </div>
</body>
{% endblock %}
