{% extends "base.html" %}
{%block title%}home{%endblock%}
{%block content%}
<style>
    body {
        background-color:yellow;
    }

    .home_text {
        background-color: white;
        padding: 20px;
        border-radius: 10px; /* Optional: Add rounded corners */
    }

    .black-background {
        background-color: yellow;
        height: 100vh; /* Adjust as needed */
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
<body>
    <div class="black-background">
        <div class="home_text">
            <p>
                Hello fellow Pokemon trainer! Welcome to the PokeDexZone where like-minded individuals can request and collect pokemon cards with ease!  
            </p>
        </div>
    </body>

    </div>
    
</body>



{%endblock%}