{% extends "base.html" %}
{% block title %}PokeDexZone{% endblock %}
{% block content %}

<body class = mainbody>
    <div class="container">
        <div class="text-box">
            <h1>Welcome to PokeDexZone!</h1>
            <p>Embark on your Pokémon collecting adventure in PokeDexZone! Trade, request, and explore unique Pokémon cards in a community of enthusiasts. Are you ready to become a Pokémon Master?</p>
            <div class="buttons">
                <button id="sign-up-btn" class="btn">Sign Up</button>
                <button id="log-in-btn" class="btn">Log In</button>
            </div>
        </div>
    </div>

</body>
{% endblock %}
